.root {
     -fx-background-image: url("/images/background.jpg");
}

.label {
    -fx-font-size: 12.0px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( gaussian , rgba(255.0,255.0,255.0,0.5) , 0.0,0.0,0.0,1.0 );
}

.button {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0.0,0.0,0.0,0.6) , 5.0, 0.0 , 0.0 , 1.0 );
}

.button:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}

#welcome-text {
   -fx-font-size: 32.0px;
   -fx-font-family: "Arial Black";
   -fx-fill: #818181;
   -fx-effect: innershadow( three-pass-box , rgba(0.0,0.0,0.0,0.7) , 6.0, 0.0 , 0.0 , 2.0 );
}
#actiontarget {
  -fx-fill: FIREBRICK;
  -fx-font-weight: bold;
  -fx-effect: dropshadow( gaussian , rgba(255.0,255.0,255.0,0.5) , 0.0,0.0,0.0,1.0 );  
}

.toggle-button:selected {
    -fx-background-color:
        -fx-shadow-highlight-color,
        linear-gradient(to bottom, derive(-fx-color,-22.0%) 0.0%, derive(-fx-color,-15.0%) 100.0%),
        linear-gradient(to bottom, derive(-fx-color,-15.0%) 0.0%, derive(-fx-color,-10.0%) 50.0%, derive(-fx-color,-8.0%) 98.0%, derive(-fx-color,-12.0%) 100.0%);
}

.toggle-button:selected:focused {
    -fx-background-color:
        -fx-focus-color,
        linear-gradient(to bottom, derive(-fx-color,-22.0%) 0.0%, derive(-fx-color,-15.0%) 100.0%),
        linear-gradient(to bottom, derive(-fx-color,-15.0%) 0.0%, derive(-fx-color,-10.0%) 50.0%, derive(-fx-color,-8.0%) 98.0%, derive(-fx-color,-12.0%) 100.0%);
}